#root{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 8.5fr 0.5fr;
    grid-template-areas:    "header     header"
                            "sidemenu   main"
                            "footer     footer";
    background-color: blueviolet;
}