@use "Constants";

#App{
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-template-rows: 10fr 85fr 5fr;  
}

@media screen and (min-width: Constants.$laptopMax){
    #App.opened{
        grid-template-areas:    "header     header"
                                "main   sidemenu"
                                "footer     footer";
    }

    #App.closed{
        grid-template-areas:    "header     header"
                                "main   main"
                                "footer     footer";  
    }
}

@media screen and (max-width: Constants.$laptopMin){
    #App.opened{
        grid-template-areas:    "header     header"
                                "sidemenu   sidemenu"
                                "footer     footer";
    }

    #App.closed{
        grid-template-areas:    "header     header"
                                "main   main"
                                "footer     footer";  
    }
}