//Colours
$green: #48A9A6;
$purple:#A4036F;
$charcole: #3E4C5E;
$rose: #A599B5;
$black: #02111B;
$white: #FBF9FF;

//Screen sizes
$mobile: 375px;
$tablet: 768px;
$laptopMin: 1279px;
$laptopMax: 1280px;
$desktop: 1920px;

//Font
$font: "Roboto Mono", monospace;