@use "./Constants.scss";

footer{
    grid-area: footer;
    background-color: Constants.$green;
    border-top: solid;
    border-width: 0.2em;
    border-color: Constants.$purple;
    color: Constants.$white;
}