@use "./Constants.scss";
@use "./Mixins.scss" as *;

header{
    grid-area: header;
    background-color: Constants.$white;
    color: Constants.$purple;
    border-bottom: solid;
    border-width: 0.25em;
    border-color: Constants.$purple;

    display: flex;
    flex-flow: row;
    

    h1{
        display: inline-block;
    }

    svg{
        height: auto;
        width: 100%;
        max-width: 1.5em;
        path{
            fill: Constants.$purple;
        }
    }

    .whitePuprleButtonLink{
        @include LinkButtonWhitePurple;
    }

    .purpleWhiteButtonLink{
        @include LinkButtonPurpleWhite;
    }
}