@use "./Constants.scss";
@use "./Mixins.scss" as *;

header{
    grid-area: header;
    background-color: Constants.$white;
    color: Constants.$purple;
    border-bottom: solid;
    border-width: 0.25em;
    border-color: Constants.$purple;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:    "title  buttons";

    #title{
        grid-area: title;
        display: flex;
        align-items: center;

        #headerLink{
            h1{
                display: inline-block;
                margin-left: 1em;
                text-decoration: none;
            }
        }
    }

    #headerLink:visited{
        h1{
            color: Constants.$purple;
        }
    }

    #buttons{
        grid-area: buttons;
        display: flex;
        align-items: center;

        .menuIcon{
            height: auto;
            width: 100%;
            max-width: 1.5em;
            margin: 1.5em;
            path{
                fill: Constants.$purple;
            }
        }
    
        .button{
            margin: 0.5em;
            height: 4em;
            width: 8em;
            display: flex;
            justify-content: space-evenly;
            justify-items: end;
            align-items: center;
            svg{
                height: auto;
                width: 100%;
                max-width: 1.2em;
            }
        }
    
        .button#login{
            @include LinkButtonWhitePurple;
        }
    
        .button#register{
            @include LinkButtonPurpleWhite;
        }
    
        .button#user{
            @include LinkButtonWhitePurple;
            svg{
                rect{
                    fill: Constants.$white;
                }
            }
        }

        .button#admin{
            @include LinkButtonWhitePurple;
            svg{
                rect{
                    fill: Constants.$white;
                }
            }
        }
    
        #logout{
            @include buttonPurpleWhite;
            font-size: 1em;
            padding: 0;
            margin: 0.5em;
            height: 4em;
            width: 8em;
            display: flex;
            justify-content: space-evenly;
            justify-items: end;
            align-items: center;
            svg{
                height: auto;
                width: 100%;
                max-width: 1.2em;
            }
        }
    }
}