@use "./Constants.scss";
@use "./Mixins.scss" as *;

#LoginPage{
    @include fonts;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 55fr 5fr;
    grid-template-areas:    "header"
                            "main"
                            "footer";

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            margin: 1em;
            font-weight: 600;
            font-size: 2em;
        }
        form{
            input{
                display: block;
                margin: 0.5em;
                width: 15em;
                padding: 0.5em;
                border-color: Constants.$rose;
                background-color: Constants.$white;
            }
            input::placeholder{
                color: Constants.$purple;
            }   
        }
        #buttons{
            display: flex;
            #login{
                @include buttonPurpleWhite;
                height: 3em;
                width: 5em;
                font-size: larger;
                margin: 0.5em;
                
            }
            
            #cancel{
                @include LinkButtonWhitePurple;
                text-align: center;
                vertical-align: middle;
                line-height: 3em;
                height: 3em;
                width: 5em;
                font-size: larger;
                margin: 0.5em;
            }
        }
    }
}