@use "./Constants.scss";
@use "./Mixins.scss" as *;

#MainPage{
    @include fonts;
    display: flex;
    flex-flow: column;

    .mainAndMenu{
        display: flex;
        main{
            background-color: Constants.$white;
            height: auto;
        }
    }
}