@use "./Constants.scss";

main{
    grid-area: main;
    background-color: Constants.$white;
    display: flex;
    color: Constants.$black;
}

@media screen and (max-width: Constants.$laptopMin){
    main.opened{
        display: none;
    }
}