@use "./Constants.scss";
@use "./Mixins.scss" as *;

#MainPage{
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-template-rows: 10fr 85fr 5fr;
    
    @include fonts;

    main{
        grid-area: main;
        background-color: Constants.$white;
        display: flex;
    }
}

@media screen and (min-width: Constants.$laptopMax){
    #MainPage.opened{
        grid-template-areas:    "header     header"
                                "main   sidemenu"
                                "footer     footer";
    }

    #MainPage.closed{
        grid-template-areas:    "header     header"
                                "main   main"
                                "footer     footer";  
    }
}

@media screen and (max-width: Constants.$laptopMin){
    #MainPage.opened{
        grid-template-areas:    "header     header"
                                "sidemenu   sidemenu"
                                "footer     footer";
    }

    #MainPage.closed{
        grid-template-areas:    "header     header"
                                "main   main"
                                "footer     footer";  
    }
}