@use "./Constants.scss";

@mixin fonts{
    font-family: Constants.$font;
}

@mixin buttonWhitePurple{
    color: Constants.$purple;
    background-color: Constants.$white;
    border: solid;
    border-width: 0.1em;
    border-radius: 1em;
    border-color: Constants.$purple;
    svg{
        path{
            fill: Constants.$purple;
        }
    }
}

@mixin LinkButtonWhitePurple{
    box-sizing: border-box;
    text-decoration: none;
    color: Constants.$purple;
    background-color: Constants.$white;
    border: solid;
    border-width: 0.1em;
    border-radius: 1em;
    border-color: Constants.$purple;
    svg{
        path{
            fill: Constants.$purple;
        }
    }
}

@mixin buttonPurpleWhite{
    color: Constants.$white;
    background-color: Constants.$purple;
    border: solid;
    border-width: 0.1em;
    border-radius: 1em;
    border-color: Constants.$purple;
    svg{
        path{
            fill: Constants.$white;
        }
    }
}

@mixin LinkButtonPurpleWhite{
    box-sizing: border-box;
    text-decoration: none;
    color: Constants.$white;
    background-color: Constants.$purple;
    border: solid;
    border-width: 0.1em;
    border-radius: 1em;
    border-color: Constants.$purple;
    svg{
        path{
            fill: Constants.$white;
        }
    }
}

@mixin LinkButtonGreenWhite{
    box-sizing: border-box;
    text-decoration: none;
    color: Constants.$white;
    background-color: Constants.$green;
    border: solid;
    border-width: 0.1em;
    border-radius: 1em;
    border-color: Constants.$green;
    svg{
        path{
            fill: Constants.$white;
        }
    }
}