@use "Constants";

@mixin buttonWhitePurple{
    color: Constants.$purple;
    background-color: Constants.$white;
    border: solid;
    border-width: 0.1em;
    border-radius: 1em;
    border-color: Constants.$purple;
    svg{
        height: auto;
        width: 100%;
        max-width: 1.5em;
        path{
            fill: Constants.$purple;
        }
    }
}

@mixin buttonPurpleWhite{
    color: Constants.$white;
    background-color: Constants.$purple;
    border: solid;
    border-width: 0.1em;
    border-radius: 1em;
    border-color: Constants.$purple;
    svg{
        height: auto;
        width: 100%;
        max-width: 1.5em;
        path{
            fill: Constants.$white;
        }
    }
}
