@use "./Constants.scss";
@use "./Mixins.scss" as *;

.productCard {
    @include fonts;
    width: 25em;
    height: 28em;
    margin: 0.5em;
    border: Constants.$purple solid;
    border-width: 0.2em;
    border-radius: 1em;

    .product-title{
        h3{
            font-weight: 500;
            text-align: center;
            color: Constants.$charcole;
        }
    }

    .imageContainer{
        display: flex;
        justify-content: center;
        img{
            height: auto;
            width: 80%;
        }
        svg{
            height: auto;
            width: 80%;
            path{
                fill: Constants.$rose;
            }
        }
    }

    .product-info{
        display: flex;
        flex-wrap: wrap;
        .product-price{
            display: block;
            width: 50%;
            text-align: center;
            margin-top: 0.25em;
            color: Constants.$purple;
        }
        .product-stock{
            display: block;
            width: 50%;
            text-align: center;
            margin-top: 0.25em;
            color: Constants.$green;
        }
    }
}


.productCard:hover {
	box-shadow: 0 0.5em 1em 0 Constants.$rose;
    cursor: pointer;
}
