@use "./Constants.scss";

table{
    margin: 1em;
    thead{
        tr#headings{
            th{
                color: Constants.$black;
                font-weight: 700;
                font-size: large;
                text-align: center;
            }
        }
    }
}