@use "./Constants.scss";
@use "./Mixins.scss" as *;

#UserProfile{
    @include fonts;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 55fr 5fr;
    grid-template-areas:    "header"
                            "main"
                            "footer";
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        background-color: Constants.$white;

        div.userInfo{
            display: flex;
            justify-content: space-between;
            width: 50%;
            margin: 0.5em;

            span.heading{
                font-weight: 700;
            }
            span.info{
                font-weight: 400;
            }
        }

        .button{
            display: flex;
            justify-content: space-evenly;
            justify-items: end;
            align-items: center;
            margin: 0.5em;
        }
        
        #PurchaseHistory{
            @include LinkButtonWhitePurple;
            width: 15em;
            height: 3em;
        }
        #back{
            @include LinkButtonPurpleWhite;
            width: 6em;
            height: 3em;
        }
    }
}